<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="container">
    <div class="login-form-wrapper">
      <h1 class="text-center mb-4 mt-4 fw-bold text-primary ">Login on Urban Stay Hub</h1>
      <form
        method="post"
        action="/login"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            id="username"
            placeholder="enter username"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter username</div>
        </div>
        <!-- <br> <br> -->

        <!-- <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            id="email"
            placeholder="enter email"
            type="email"
            class="form-control"
            required
          />
           <div class="valid-feedback">Looks good!</div> 
          <div class="invalid-feedback">Please enter a valid email</div>
        </div> -->
        <!-- <br> <br> -->

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            placeholder="enter password"
            type="password"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid password</div>
        </div>
        <br /><br>
         

        <!--  placing a "or" with hr between email and password -->
        <div class="d-flex align-items-center">
          <hr class="flex-grow-1 my-0" />
          <span class="px-2">or</span>
          <hr class="flex-grow-1 my-0" />
        </div>
        
        
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            id="email"
            placeholder="enter email"
            type="email"
            class="form-control"
          />
           <!-- <div class="valid-feedback">Looks good!</div> 
          <div class="invalid-feedback">Please enter a valid email</div> -->
        </div>
        <!-- <br> <br> -->

        <div class="d-flex align-items-center">
            <hr class="flex-grow-1 my-0" />
            <span class="px-2">or</span>
            <hr class="flex-grow-1 my-0" />
        </div>

        <!-- using Google Login -->
        <div class="googleImageOnly">
       
        <button class="btn btn-light border full-width shadow-sm d-flex align-items-center px-4 py-2 rounded-pill mb-2 mt-4" type="submit" onclick="window.location.href='/auth/google'">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20" height="20" class="me-2">
            <span class="fw-semibold text-dark">Log in with Google</span>
          </button>
         </div>

        <br>
        <button type="submit" class="btn btn-primary">Login</button>

      </form>
    </div>
  </div>
</body>
