<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="container">
    <div class="signup-form-wrapper">
      <h1 class="text-center mb-4 mt-4 fw-bold text-primary ">SignUp on Urban Stay Hub</h1>
      <form
        method="post"
        action="/signup"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            id="username"
            placeholder="enter username"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter username</div>
        </div>
        <!-- <br> <br> -->

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            id="email"
            placeholder="enter email"
            type="email"
            class="form-control"
            required
          />
          <!-- <div class="valid-feedback">Looks good!</div> -->
          <div class="invalid-feedback">Please enter a valid email</div>
        </div>
        <!-- <br> <br> -->

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            placeholder="enter password"
            type="password"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid password</div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Sign Up</button>

      </form>
    </div>
  </div>
</body>
